* {
    font-family: $font-textos;
    font-size: 16px;
}

.cabecera {
    &__titulo {
        font-family: $font-cabecera;
    }
}

.comida {
    &__titulo {
        @include size-h2;
    }
}

.receta {
    &__titulo {
        @include size-h2;
    }
}

.ingredientes {
    &__titulo {
        @include  size-h3;
    }
}

.pasos {
    &__titulo {
        @include size-h3;
    }
}