/*SECCIÓN CON LA FOTO DE LA COMIDA Y UN POCO DE SU HISTORIA*/
.comida {
  @include grid-seccion;
  @include borde-redondeado;
  background-color: $fondo-seccion;

    &__titulo {
      display: flex;
      align-items: center;
      text-align: center;
      line-height: 1.2em;
      @include borde-redondeado;
      @include titulos-seccion;

      &::before {
        content: '';
        display: inline-block;
        background-image: url(../images/historia.png);
        background-size: cover;
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
    }

    @supports (background-image: url('image.webp')) {
      &::before {
        background-image: url(../images/historia.webp);
      }
    }

    @media screen and (max-width: 455px) {
      &__titulo {
        font-size: 1.5em;

        &::before {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__foto {
      background-image: url(../images/pulpo.jpg);
      grid-column: 1;
      grid-row: 2;
      background-size: cover;
      overflow: hidden;
      width: 380px;
      height: 280px;
      @include borde-redondeado;

      @supports (background-image: url('image.webp')) {
        & {
          background-image: url(../images/pulpo.webp);
        }
      }

      &--bandera {
        background-image: url(../images/bandera.png);
        grid-column: 1;
        grid-row: 3;
        background-size: 100% 100%;
        overflow: hidden;
        width: 400px;
        height: 250px;
        @include borde-redondeado;
      }

      @supports (background-image: url('image.webp')) {
        &--bandera {
          background-image: url(../images/bandera.webp);
        }
      }
    }

    &__historia {
      grid-column: 2;
      grid-row: 2/4;
      @include borde-redondeado;
      background-color: $fondo-sección-texto;
    }

    @media screen and (max-width: 850px) {
      & {
      @include flex;
      }

      &__foto {
        background-position: center;
        width: 60%;
        height: 250px;
        margin-bottom: 1.5cm;
    
        &--bandera {
          width: 50%;
          height: 200px;
          margin-bottom: 1cm;
        }
      }
    }

    @media screen and (max-width: 600px) {
      &__foto {
        &--bandera {
          height: 140px;
        }
      }
    }
    
    @media screen and (max-width: 450px) {
      &__foto {
        height: 150px;
      }
    }
    
    @media screen and (max-width: 400px) {
      &__foto{
        
        &--bandera {
         height: 100px;
        }
      }
    }
}

.historia {
  &__texto {
    @include borde-redondeado;
    text-align: justify;
    line-height: 1.7em;
    background-color: $fondo-cajas-texto;
  }
}

/*BLOQUE DE INGREDIENTES DE LA RECETA*/
.receta {
  @include borde-redondeado;
  @include grid-seccion;
  justify-items: center;
  text-align: center;
  line-height: 1.5em;
  background-color: $fondo-seccion;
  
    &__titulo {
      display: flex;
      align-items: center;
      @include titulos-seccion;
      @include borde-redondeado;

      &::before {
        content: '';
        display: inline-block;
        background-image: url(../images/cocinar.png);
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-right: 10px;
      }
      @supports (background-image: url('image.webp')) {
        &::before {
          background-image: url(../images/cocinar.webp);
        }
      }
    }


    @media screen and (max-width: 455px) {
      &__titulo {
        font-size: 1.5em;

        &::before {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__ingredientes,
    &__pasos {
      @include flex;
    }

    &__gif {
      background-image: url(../images/gif.webp), url(../images/gif.gif);
      background-size: contain;
      background-repeat: no-repeat;
      width: 450px;
      height: 300px;
      margin-top: 2cm;
      overflow: hidden;
      border-radius: 0.4cm;
      box-shadow: $shadow-web;

      @supports (background-image: url('image.webp')) {
        & {
          background-image: url(../images/gif.webp);
        }
      }  
    }

    @media screen and (max-width: 850px) {
      @include flex;
      
      &__gif {
          margin-bottom: 1.5cm;
        }
    }

    @media screen and (max-width: 510px) {
      &__gif {
        width: 300px;
        height: 200px;
        box-shadow: none;
      }
    
      &__titulo {
        text-align: center;
      }
    }

    @media screen and (max-width: 330px) {
      &__gif {
        width: 250px;
        height: 200px;
        box-shadow: none;
      }
    }
 }


.pasos {
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  @media screen and (max-width: 447px) {
    &__titulo {
      font-size: 1.3em;
    }
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

}

.ingredientes {
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  @media screen and (max-width: 447px) {
    &__titulo {
      font-size: 1.3em;
    }
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

  @media screen and (max-width: 1150px) {
    &__lista {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 380px) {
  .receta__titulo::before,
  .comida__titulo::before {
    display: none;
  }
}

.lista {
  &__elemento,
  &__indicacion {
    text-align: justify;
    width: fit-content;
    margin: 10px;
    list-style: none;
    @include borde-redondeado;
    background-color: $fondo-cajas-texto;
  }

  &__indicacion {
    line-height: 1.7em;
  }

  &__indicacion::before {
    content: counter(list-item);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    background-color: $fondo-titulo-seccion;
  }

  &__elemento:hover {
    background-color: #0ce285;
  }

  @media screen and (max-width: 330px) {
    &__elemento {
      text-align: center;
    }
  }
}