footer {
    margin-top: 2cm;
    background-color: $fondo-seccion;
    display: flex;
    text-align: center;
    line-height: 2em;
    padding: 35px;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    footer {
        flex-direction: column;
    }
}