footer {
    margin-top: 2cm;
    background-color: $fondo-seccion;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 2em;
    padding: 35px;
    justify-items: center;

    @media screen and (max-width: 1400px) {
        & {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 2em;
        }
    }

    &__redes {
        display: flex;
        justify-content: center;
    }
}

.redes__lista {
    display: flex;
    align-items: center;
}