
nav {
  display: flex;
  padding: 15px;
  background-color: $fondo-web;

  @media screen and (max-width: 800px) {
    & {
      display: flex;
      justify-content: center;
    }
  }
}

.cabecera {
  @include flex;
  justify-content: center;  
  background-image: url(../images/foto-principal.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;

  @supports (background-image: url('image.webp')) {
    & {
      background-image: url(../images/foto-principal.webp);
    }
  }
  
    &__titulo {
      display: flex;
      text-align: center;
      font-size: 4em;
    }
    
    @media screen and (max-width:1750px) {
      &__titulo {
        font-size: 3.5em;
      }
    }
    
    @media screen and (max-width:445px) {
      &__titulo {
        font-size: 2.5em;
      }
    }
    
    @media screen and (max-width:320px) {
      &__titulo {
        font-size: 2em;
      }
    }
  }


