/*SECCIÓN CON LA FOTO DE LA COMIDA Y UN POCO DE SU HISTORIA*/
.comida {
  @include grid-seccion;
  @include borde-redondeado;
  justify-items: center;
  background-color: $fondo-seccion;

  
    &__titulo {
      grid-column: span 2;
      grid-row: 1;
      @include borde-redondeado;
      background-color: $fondo-titulo-seccion;
      margin-bottom: 1.5cm;
    }

    &__foto {
      background-image: url(../images/pulpo.webp), url(../images/pulpo.jpg);
      background-size: cover;
      @include borde-redondeado;
      overflow: hidden;
      width: 380px;
      height: 280px;
      grid-column: 1;
      grid-row: 2;
      padding: 15px;
    }

    &__foto--bandera {
      background-image: url(../images/bandera.png);
      background-size: 100% 100%;
      @include borde-redondeado;
      overflow: hidden;
      width: 400px;
      height: 250px;
      grid-column: 1;
      grid-row: 3;
    }

    &__historia {
      @include borde-redondeado;
      grid-column: 2;
      grid-row: 2/4;
      background-color: $fondo-sección-texto;
    }
    
}

.historia__texto {
  @include borde-redondeado;
  text-align: justify;
  background-color: $fondo-cajas-texto;
  line-height: 1.7em;
}

/*RESPONSIVE DE BLOQUE COMIDA*/
@media screen and (max-width: 850px) {
  .comida {
    @include flex;
  

    &__foto {
      background-position: center;
      width: 60%;
      height: 250px;
    }

    &__foto--bandera {
      width: 50%;
      height: 200px;
    }
  }
}

@media screen and (max-width: 600px) {
  .comida__foto--bandera {
    height: 140px;
  }
}

@media screen and (max-width: 450px) {
  .comida__foto {
    height: 150px;
  }
}

@media screen and (max-width: 400px) {
  .comida__foto--bandera {
    height: 100px;
  }
}

/*BLOQUE DE INGREDIENTES DE LA RECETA*/
.receta {
  @include borde-redondeado;
  @include grid-seccion;
  justify-items: center;
  background-color: $fondo-seccion;
  

    &__titulo {
      grid-column: span 2;
      grid-row: 1;
      @include borde-redondeado;
      background-color: $fondo-titulo-seccion;
      margin-bottom: 1.5cm;
    }

    &__ingredientes,
    &__pasos {
      @include flex;
    }

    &__gif {
      background-image: url(../images/gif.webp), url(../images/gif.gif);
      background-size: contain;
      background-repeat: no-repeat;
      width: 450px;
      height: 300px;
      margin-top: 2cm;
      border-radius: 0.4cm;
      overflow: hidden;
      box-shadow: ($shadow-web);

    }
}

.pasos {
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

}

.ingredientes {
  
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

}

.lista {
  &__elemento,
  &__indicacion {
    @include borde-redondeado;
    width: fit-content;
    margin: 10px;
    text-align: justify;
    list-style: none;
    display: inline-block;
    background-color: $fondo-cajas-texto;
  }

  &__indicacion {
    line-height: 1.7em;
  }

  &__elemento:hover {
    background-color: #0ce285;
  }
}

/*RESPONSIVE DE BLOQUE RECETA*/
@media screen and (max-width: 1150px) {
  .ingredientes__lista {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .receta {
    @include flex;
  }
}

@media screen and (max-width: 510px) {

.receta {

  &__gif {
    width: 300px;
    height: 200px;
    box-shadow: none;
  }

  &__titulo {
    text-align: center;
  }
}
}

@media screen and (max-width: 330px) {
  .lista__elemento {
    text-align: center;
  }
  .receta__gif {
    width: 250px;
    height: 200px;
    box-shadow: none;
  }
}