/*SECCIÓN CON LA FOTO DE LA COMIDA Y UN POCO DE SU HISTORIA*/
.comida {
  @include grid-seccion;
  @include borde-redondeado;
  justify-items: center;
  background-color: $fondo-seccion;

  
    &__titulo {
      @include borde-redondeado;
      @include titulos-seccion;
    }

    &__foto {
      background-image: url(../images/pulpo.jpg);
      background-size: cover;
      @include borde-redondeado;
      overflow: hidden;
      width: 380px;
      height: 280px;
      grid-column: 1;
      grid-row: 2;

      @supports (background-image: url('image.webp')) {
        & {
          background-image: url(../images/pulpo.webp);
        }
      }

      &--bandera {
        background-image: url(../images/bandera.png);
        background-size: 100% 100%;
        @include borde-redondeado;
        overflow: hidden;
        width: 400px;
        height: 250px;
        grid-column: 1;
        grid-row: 3;
      }
      @supports (background-image: url('image.webp')) {
        &--bandera {
          background-image: url(../images/bandera.webp);
        }
      }
    }

    &__historia {
      @include borde-redondeado;
      grid-column: 2;
      grid-row: 2/4;
      background-color: $fondo-sección-texto;
    }

    @media screen and (max-width: 850px) {
      & {
      @include flex;
      }

      &__foto {
        background-position: center;
        width: 60%;
        height: 250px;
        margin-bottom: 1.5cm;
    
        &--bandera {
          width: 50%;
          height: 200px;
          margin-bottom: 1cm;
        }
      }
    }

    @media screen and (max-width: 600px) {
      &__foto {
        &--bandera {
          height: 140px;
        }
      }
    }
    
    @media screen and (max-width: 450px) {
      &__foto {
        height: 150px;
      }
    }
    
    @media screen and (max-width: 400px) {
      &__foto{
        
        &--bandera {
         height: 100px;
        }
      }
    }
}

.historia {
  &__texto {
    @include borde-redondeado;
    text-align: justify;
    background-color: $fondo-cajas-texto;
    line-height: 1.7em;
  }
}

/*BLOQUE DE INGREDIENTES DE LA RECETA*/
.receta {
  @include borde-redondeado;
  @include grid-seccion;
  justify-items: center;
  background-color: $fondo-seccion;
  
    &__titulo {
      @include borde-redondeado;
      @include titulos-seccion;
    }

    &__ingredientes,
    &__pasos {
      @include flex;
    }

    &__gif {
      background-image: url(../images/gif.webp), url(../images/gif.gif);
      background-size: contain;
      background-repeat: no-repeat;
      width: 450px;
      height: 300px;
      margin-top: 2cm;
      border-radius: 0.4cm;
      overflow: hidden;
      box-shadow: $shadow-web;

      @supports (background-image: url('image.webp')) {
        & {
          background-image: url(../images/gif.webp);
        }
      }  
    }

    @media screen and (max-width: 850px) {
      @include flex;
      &__gif {
        margin-bottom: 1.5cm;
      }
    }

    @media screen and (max-width: 510px) {
      
      &__gif {
        width: 300px;
        height: 200px;
        box-shadow: none;
      }
    
      &__titulo {
        text-align: center;
      }
    }

    @media screen and (max-width: 330px){
      &__gif {
        width: 250px;
        height: 200px;
        box-shadow: none;
      }
    }
 }


.pasos {
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

}

.ingredientes {
  
  &__titulo {
    @include borde-redondeado;
    background-color: $fondo-subtitulo;
  }

  &__lista {
    @include borde-redondeado;
    background-color: $fondo-sección-texto;
  }

  @media screen and (max-width: 1150px) {
    &__lista {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      text-align: center;
    }
  }
}

.lista {

  &__elemento,
  &__indicacion {
    @include borde-redondeado;
    width: fit-content;
    margin: 10px;
    text-align: justify;
    list-style: none;
    display: inline-block;
    background-color: $fondo-cajas-texto;
  }

  &__indicacion {
    line-height: 1.7em;
  }

  &__elemento:hover {
    background-color: #0ce285;
  }

  @media screen and (max-width: 330px) {
    &__elemento {
      text-align: center;
    }
  }
}