<footer class="footer">
  <a href="index.html" class="footer__logo">
    <img src="assets/images/logo.svg" alt="Logo de la web Pulpo a la gallega" width="650">
  </a>
  <section class="footer__texto">
  &copy; Universitat Oberta de Catalunya</br>
  Alejandro Abuín Álvarez
  </section>
  <section class="footer__redes">
    <ul class="redes__lista">
        <li><a href="" title="Facebook" hreflang="es" ><picture><source srcset="assets/images/facebook.webp"><img src="assets/images/facebook.png" alt="Facebook" width="50" height="50" loading="lazy"></picture></a></li>
        <li><a href="" title="Instagram" hreflang="es" ><picture><source srcset="assets/images/Instagram_icon.webp"><img src="assets/images/Instagram_icon.png" alt="Instagram" width="28" height="28" loading="lazy"></picture></a></li>
        <li><a href="" title="Twitter" hreflang="es" ><picture><source srcset="assets/images/x.webp"><img src="assets/images/x.png" alt="Twitter" width="47" height="47" loading="lazy"></picture></a></li>
    </ul>
  </section>

</footer>
