<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title><!-- El título se define en el archivo principal --></title>
  </head>
  <footer class="footer">
    <a href="index.html" class="footer__logo">
      <img src="assets/images/logo.svg" alt="Logo de la web Pulpo a la gallega" width="650">
    </a>
    <div class="footer__texto">
    &copy; Universitat Oberta de Catalunya<br>
    Alejandro Abuín Álvarez
    </div>
    <div class="footer__redes">
      <ul class="redes__lista">
        <li><a href="#" title="Facebook" aria-label="Ir a Facebook" hreflang="es" ><picture><source srcset="assets/images/facebook.webp"><img src="assets/images/facebook.png" alt="Facebook" width="50" height="50" loading="lazy"></picture></a></li>
        <li><a href="#" title="Instagram" aria-label="Ir a Instagram" hreflang="es" ><picture><source srcset="assets/images/Instagram_icon.webp"><img src="assets/images/Instagram_icon.png" alt="Instagram" width="28" height="28" loading="lazy"></picture></a></li>
        <li><a href="#" title="Twitter" aria-label="Ir a Twitter" hreflang="es" ><picture><source srcset="assets/images/x.webp"><img src="assets/images/x.png" alt="Twitter" width="47" height="47" loading="lazy"></picture></a></li>
      </ul>
    </div>
  </footer>
</html>

