<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><!-- Title web is done in index.html --></title>
  </head>
  <footer class="footer">
    <a class="footer__logo" href="index.html">
      <img src="assets/images/logo.svg" alt="Logo de la web Pulpo a la gallega" width="650" height="54"><!-- logo --> 
    </a>
    <div class="footer__texto">
      &copy; Universitat Oberta de Catalunya<br>
      Alejandro Abuín Álvarez
    </div>
    <div class="footer__redes">
      <ul class="redes__lista"><!-- social media icons --> 
        <li><a href="#" hreflang="es" title="Facebook" aria-label="Ir a Facebook"><picture><source srcset="assets/images/facebook.webp"><img src="assets/images/facebook.png" loading="lazy" alt="Facebook" width="50" height="50"></picture></a></li>
        <li><a href="#" hreflang="es" title="Instagram" aria-label="Ir a Instagram"><picture><source srcset="assets/images/Instagram_icon.webp"><img src="assets/images/Instagram_icon.png" loading="lazy" alt="Instagram" width="28" height="28"></picture></a></li>
        <li><a href="#" hreflang="es" title="Twitter" aria-label="Ir a Twitter"><picture><source srcset="assets/images/x.webp"><img src="assets/images/x.png" loading="lazy" alt="Twitter" width="47" height="47"></picture></a></li>
      </ul>
    </div>
  </footer>
</html>