<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><!-- El título se define en el archivo principal --></title>
  </head>
  <nav class="nav animate__animated animate__backInRight">
    <a href="index.html">
      <img src="assets/images/logo.svg" alt="Logo de la web Pulpo a la gallega" width="800">
    </a>
  </nav>
  <header class="cabecera animate__animated animate__backInRight">
    <h1 class="cabecera__titulo">DISFRUTA DE UNA GASTRONOMÍA RICA EN HISTORIA</h1>
  </header>
</html>